<div class="container">
  <div class="mdc-textfield mdc-textfield--textarea mdc-textfield--fullwidth">
    <textarea *ngIf = "!sent" [(ngModel)]="feedback" id="textarea-css-only"
      class="mdc-textfield__input"
      rows="8"
      cols="40"
      placeholder="Enter your feedback about the application"></textarea>
  </div>
  <label *ngIf ="sent"> Feedback Sent !!</label>
  <button *ngIf = "!sent" class="mdc-button mdc-button--raised" (click)="sendFeedback()">
    Send Feedback
  </button>
</div>
